@import "./base.css";

#app {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
}

a:hover,
.button:hover {
  cursor: pointer;
}
@media (max-width: 1024px) {
  .v-sidebar-menu.vsm_collapsed {
    left: -20px;
  }
}

.button {
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  line-height: 1;
  text-indent: 0px;
  text-rendering: optimizeLegibility;
  width: fit-content;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid;
}

.button:hover {
  cursor: pointer;
  padding: 8px 18px;
  border: 3px solid;
}

.button:disabled {
  background-color: var(--color-black-1) !important;
  color: var(--color-black-0) !important;
  border-color: var(--color-black-0) !important;
}

.button:disabled:hover {
  background-color: var(--color-black-1) !important;
  color: var(--color-black-0) !important;
  border-color: var(--color-black-0) !important;
  cursor: not-allowed;
  padding: 10px 20px;
  border: 1px solid;
}

.button {
  background-color: var(--color-button);
  color: var(--color-text-alt);
  border-color: var(--color-button-border);
}

.button:hover {
  background-color: var(--color-text-alt);
  color: var(--color-button);
  border-color: var(--color-button-border);
}

.button:active {
  background-color: var(--color-button);
  color: var(--color-button);
  border-color: var(--color-button-border);
}

.button.alt {
  background-color: var(--color-button-alt);
  color: var(--color-text);
  border-color: var(--color-button-border);
}

.button.alt:hover {
  background-color: var(--color-text);
  color: var(--color-button-alt);
  border-color: var(--color-button-border);
}

.button.alt:active {
  background-color: var(--color-button-alt);
  color: var(--color-button-alt);
  border-color: var(--color-button-border);
}

.button.danger {
  background-color: var(--color-danger);
  color: var(--color-black-0);
}

.button.danger:hover {
  background-color: var(--color-background);
  color: var(--color-danger);
  border-color: var(--color-danger);
}

.button.danger:active {
  background-color: var(--color-danger);
  color: var(--color-danger);
  border-color: var(--color-danger);
}

.button.primary {
  background-color: var(--color-primary);
  color: var(--color-black-0);
}

.button.primary:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.button.primary:active {
  background-color: var(--color-primary);
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.button.transparent {
  background-color: var(--color-transparent-0);
  color: var(--color-transparent-1);
  border-color: var(--color-transparent-1);
}

.button.transparent:hover {
  background-color: var(--color-transparent-0);
  color: var(--color-transparent-2);
  border-color: var(--color-transparent-2);
}

.button.transparent:active {
  background-color: var(--color-transparent-2);
  color: var(--color-transparent-0);
  border-color: var(--color-transparent-0);
}

.button.small {
  font-size: 0.75rem;
  padding: 5px 10px;
}

.button.small:hover {
  padding: 3px 8px;
  border: 3px solid;
  border-radius: 4px;
}

.button.fullwidth {
  width: -webkit-fill-available;
  width: -moz-available;
  margin-right: 2rem;
  font-size: 2em;
  margin-bottom: 1rem;
  justify-content: center;
}

.button.form {
  display: inline-block;
  padding: 0px 20px;
  height: 100%;
}

.button.form:hover {
  padding: 0px 18px;
}

h1 {
  margin-bottom: 8px;
  text-align: center;
  font-weight: normal;
}

main {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  background-color: var(--color-background);
  padding: 1rem;
  height: calc(100vh - 3.5em);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  outline: 1px solid var(--color-scrollbar-outline);
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0em;
  }
}

* {
  scrollbar-color: var(--color-scrollbar-track) var(--color-scrollbar);
  scrollbar-width: 1em;
}

.v-sidebar-menu .vsm--link_level-1 .vsm--icon {
  background-color: var(--color-primary) !important;
  color: var(--color-black-0) !important;
}

.v-sidebar-menu .vsm--link_level-1.vsm--link_active {
  -webkit-box-shadow: inset 3px 0 0 0 var(--color-primary);
  box-shadow: inset 3px 0 0 0 var(--color-primary);
}

.v-sidebar-menu .vsm--mobile-bg {
  background-color: var(--color-primary);
  color: var(--color-black-0);
}

.v-sidebar-menu .vsm--link_hover {
  background-color: var(--color-primary);
  color: var(--color-black-0);
}

.v-sidebar-menu.vsm_expanded .vsm--link_level-1.vsm--link_open {
  background-color: var(--color-primary);
  color: var(--color-black-0);
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 65px;
  width: 65px;
  border-radius: 65px;
  background-color: var(--color-primary);
  color: var(--color-black-0);
  border: 3px solid var(--color-black-0);
}

.fab i {
  font-size: 2rem;
}

.fab:hover {
  cursor: pointer;
  background-color: var(--color-black-0);
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
}

.fab:active {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
}

input {
  color: var(--color-white);
  background-color: var(--color-input);
  border: 1px solid var(--color-input-border);
  border-radius: 4px;
  font-size: 1.5rem;
}
